*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.cover header{
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 90%;
    
}

header .logo{
    flex: 1;
    line-height: inherit;
    padding: 10px;
}

header nav{
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
nav .list_links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}
nav .btn-join{
    margin-left: 50px;
}


.cover main{
    display: flex;
    flex-direction: row;
    height: 90vh;

}

main .hello-text{
    flex: 1;
}
main .hello-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    

    
}

main .hello-img .display{
    position: relative;
    width: 500px;
    height: 600px;


}

main .hello-img .display .bg{
    position: absolute;
    width: 100%;
    height: 100%;


}

main .hello-img .display .charB{
    width: 400px;
    height: auto;
    position: absolute;
    left: 80px;
}
main .hello-img .display .charG{
    width: 500px;
    position: absolute;
    top:10px;
}


main .hello-text{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;
}